<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Escolas Table</title>
</head>
<body>
    <div class="sidebar">
        <h3>API Edu</h3>
        <a href="{{ url_for('index') }}">Dashboard</a>
        <button class="logout-btn" onclick="location.href='/logout'">Logout</button>
    </div>

    <div class="container">
        <h1>Escolas </h1>
        <button class="reload-btn" onclick="location.reload()">Recarregar tabela</button>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Ilha ID</th>
                    {% if 'admin_id' in session %}
                        <th>Ações</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for row in table_data %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        {% if 'admin_id' in session %}
                            <td>
                                <button class="edit-btn" onclick="editRow({{ row[0] }}, '{{ row[1] }}')">Editar</button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function editRow(escolaId, escolaNome) {
            const newEscolaNome = prompt("Editar nome da escola:", escolaNome);
            if (newEscolaNome && newEscolaNome !== escolaNome) {
                fetch('/edit_escola', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ escola_id: escolaId, escola_nome: newEscolaNome })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert("Escola Nome updated successfully!");
                        location.reload();
                    } else {
                        alert("Failed to update Escola Nome.");
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        }
    </script>
</body>
</html>