<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <!-- Sidebar Section -->
    <div class="sidebar">
        <h3>API Edu</h3>
        <button class="logout-btn" onclick="location.href='/logout'">Logout</button>

        <hr></hr>
        <a href="{{ url_for('index') }}">Dashboard</a>
        
    </div>

    <!-- Main Content Section -->
    <div class="container">
        <header>
            <h1>Tabelas Disponíveis</h1>
        </header>
        <main>
            <ul class="table-list">
                <li><a href="{{ url_for('escolas') }}" class="table-link">Escolas</a></li>
                <!-- More table links here -->
            </ul>
        </main>
    </div>
</body>
</html>